{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "ConcatOperandRemoval": {
            "ignore": [
                "Navarr\\Depends\\Model\\AstParser::parse::82",
                "Navarr\\Depends\\Model\\AstParser::parse::83"
            ]
        },
        "Concat": {
            "ignore": [
                "Navarr\\Depends\\Model\\AstParser::parse::82",
                "Navarr\\Depends\\Model\\AstParser::parse::83"
            ]
        }
    }
}
