{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "ConcatOperandRemoval": {
            "ignore": [
                "Navarr\\Depends\\Model\\AstParser::parse::55",
                "Navarr\\Depends\\Model\\AstParser::parse::54"
            ]
        },
        "Concat": {
            "ignore": [
                "Navarr\\Depends\\Model\\AstParser::parse::55",
                "Navarr\\Depends\\Model\\AstParser::parse::54"
            ]
        }
    }
}
